<% if current_user %>
    <%= render partial: 'form' %>
  </p>
    <h1>Links</h1>
    <% @links.each do |link| %>
    <div class="link"> <%= link_to link.title, link.url %> <%= link_to link.read.to_s, "", class: "read-status"%> </div>
    <% end %>
<% end %>
