<% if current_user %>
    <%= render partial: 'form' %>
  </p>
    <h1>Links</h1>
    <% @links.each do |link| %>
      <%= link_to link.title, link.url %>
      <p>Read: <%= link.read.to_s %></p>
      <% if link.read == false %>
        <%= link_to "Mark as read", "", class: "read-button", id: "#{link.id}"  %>
      <% else %>
        Read
      <% end %>
    <% end %>
<% end %>
