<%= link_to "Log In", "" %>
<%= link_to "Sign Up", "" %>

<h1>Links</h1>
<%# @links.each do |link| %>
  <div class="link"> <%#= link_to link.title, link.url %> <%#= link.read, class: "read-status" %> </div>
<%# end %>
